.app {
  max-width: 800px; /* Adjust max-width as per your design needs */
  margin: 20px auto;
  padding: 20px;
  background-color: #d3d1d1;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.app-header h1 {
  font-size: 2rem;
  color: #333;
}

.description {
  text-align: center;
  font-family: "Roboto", sans-serif; /* Using Google Font */
  margin-bottom: 20px;
  padding: 0 20px;
}

.app-nav {
  text-align: center; /* Center align the navigation */
  max-width: 600px;
  margin: 0 auto; /* Center align horizontally */
}

.app-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center align the flex items */
}

.app-nav ul li {
  margin: 0 10px;
}

.app-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem; /* Adjust font size for better readability */
  transition: color 0.3s ease;
}

.app-nav ul li a:hover {
  color: #4caf50;
}

.app-content {
  margin-top: 20px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.nav-btn:hover {
  color: #4caf50;
}

.nav-btn:active {
  transform: scale(0.95);
}
