.app-nav {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Menyembunyikan overflow pada sisi horizontal */
}

.app-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Mengizinkan item untuk wrapping ke baris baru */
}

.app-nav li {
  margin-right: 10px;
}

.nav-btn {
  border-radius: 4%;
  background-color: #646362; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #45a049; /* Darker green */
}

.nav-btn:active {
  background-color: #3e8e41; /* Even darker green */
  transform: translateY(2px); /* Slight downward movement */
}

.active-nav {
  background-color: #45a049; /* Darker green for active link */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .app-nav {
    padding: 5px; /* Mengurangi padding untuk tampilan lebih compact */
  }

  .app-nav ul {
    justify-content: space-around; /* Mengatur item menjadi sekitar sama */
  }

  .app-nav li {
    margin: 5px; /* Mengurangi margin */
  }

  .nav-btn {
    font-size: 14px; /* Mengurangi ukuran font untuk layar kecil */
    padding: 8px 1px; /* Mengurangi padding tombol */
  }
}
